USE [master]
GO
/****** Object:  Database [SistemBeritaAcara]    Script Date: 15/06/2026 08:57:28 ******/
CREATE DATABASE [SistemBeritaAcara]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemBeritaAcara', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemBeritaAcara.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemBeritaAcara_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SistemBeritaAcara_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemBeritaAcara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemBeritaAcara]
GO
/****** Object:  Schema [HangFire]    Script Date: 15/06/2026 08:57:28 ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[ApprovalToken]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaId] [int] NOT NULL,
	[Token] [nvarchar](128) NOT NULL,
	[TokenType] [nvarchar](20) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BeritaAcaraId] [int] NOT NULL,
 CONSTRAINT [PK_ApprovalToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [int] NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BACounter]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACounter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NextValue] [int] NOT NULL,
 CONSTRAINT [PK_BACounter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarangImportLog]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarangImportLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
	[ImportedBy] [int] NOT NULL,
	[FileName] [nvarchar](200) NULL,
	[AddedCount] [int] NOT NULL,
	[UpdatedCount] [int] NOT NULL,
	[DeactivatedCount] [int] NOT NULL,
 CONSTRAINT [PK_BarangImportLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeritaAcara]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeritaAcara](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomorSurat] [nvarchar](50) NULL,
	[CounterValue] [int] NULL,
	[Tanggal] [date] NOT NULL,
	[Jenis] [nvarchar](20) NOT NULL,
	[JenisCustom] [nvarchar](50) NULL,
	[PjId] [int] NOT NULL,
	[MenyerahkanId] [int] NOT NULL,
	[MengetahuiId] [int] NOT NULL,
	[TiketSscNo] [nvarchar](50) NULL,
	[TanggalKembali] [date] NULL,
	[Status] [nvarchar](30) NOT NULL,
	[AlasanReject] [nvarchar](500) NULL,
	[TtdPjPath] [nvarchar](500) NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[PjSignedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[DocxPath] [nvarchar](500) NULL,
	[DocxFinalPath] [nvarchar](500) NULL,
	[ExcelExported] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BeritaAcara] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuktiFoto]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuktiFoto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaId] [int] NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[BeritaAcaraId] [int] NOT NULL,
 CONSTRAINT [PK_BuktiFoto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MasterBarang]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterBarang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KodeBarang] [nvarchar](20) NOT NULL,
	[NamaBarang] [nvarchar](100) NOT NULL,
	[IsAktif] [bit] NOT NULL,
 CONSTRAINT [PK_MasterBarang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BaId] [int] NULL,
	[Tipe] [nvarchar](30) NOT NULL,
	[Message] [nvarchar](300) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pegawai]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pegawai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](100) NOT NULL,
	[NoPekerja] [nvarchar](20) NOT NULL,
	[Jabatan] [nvarchar](100) NULL,
	[CostCenter] [nvarchar](50) NULL,
	[FungsiDirektorat] [nvarchar](100) NULL,
	[Alamat] [nvarchar](200) NULL,
	[Email] [nvarchar](150) NULL,
	[NoTelp] [nvarchar](20) NULL,
	[TtdPath] [nvarchar](500) NULL,
	[IsAktif] [bit] NOT NULL,
	[LastSync] [datetime2](7) NULL,
 CONSTRAINT [PK_Pegawai] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PegawaiImportLog]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PegawaiImportLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
	[ImportedBy] [int] NOT NULL,
	[FileName] [nvarchar](200) NULL,
	[AddedCount] [int] NOT NULL,
	[UpdatedCount] [int] NOT NULL,
	[DeactivatedCount] [int] NOT NULL,
 CONSTRAINT [PK_PegawaiImportLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerangkatBA]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerangkatBA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BaId] [int] NOT NULL,
	[BarangId] [int] NOT NULL,
	[Jumlah] [int] NOT NULL,
	[Satuan] [nvarchar](20) NOT NULL,
	[NoSerial] [nvarchar](100) NULL,
	[Keterangan] [nvarchar](200) NULL,
	[BeritaAcaraId] [int] NOT NULL,
 CONSTRAINT [PK_PerangkatBA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nama] [nvarchar](100) NOT NULL,
	[Jabatan] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[MustChangePw] [bit] NOT NULL,
	[TtdPath] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[PegawaiId] [int] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[AggregatedCounter]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[AggregatedCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_CounterAggregated] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Counter]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Counter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ExpireAt] [datetime] NULL,
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_HangFire_Counter] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Hash]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Hash](
	[Key] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK_HangFire_Hash] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Job]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Job](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[StateName] [nvarchar](20) NULL,
	[InvocationData] [nvarchar](max) NOT NULL,
	[Arguments] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobParameter]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobParameter](
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_JobParameter] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobQueue]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobQueue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) NOT NULL,
	[FetchedAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_JobQueue] PRIMARY KEY CLUSTERED 
(
	[Queue] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[List]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_List] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Schema]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Schema](
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_HangFire_Schema] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Server]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Server](
	[Id] [nvarchar](200) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[LastHeartbeat] [datetime] NOT NULL,
 CONSTRAINT [PK_HangFire_Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Set]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Set](
	[Key] [nvarchar](100) NOT NULL,
	[Score] [float] NOT NULL,
	[Value] [nvarchar](256) NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Set] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = ON, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[State]    Script Date: 15/06/2026 08:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_State] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ApprovalToken] ON 

INSERT [dbo].[ApprovalToken] ([Id], [BaId], [Token], [TokenType], [ExpiresAt], [UsedAt], [CreatedAt], [BeritaAcaraId]) VALUES (23, 133, N'd727b627fd6a41c7bf9a1be90c44cfa0', N'PJ_SIGNATURE', CAST(N'2026-06-19T14:53:40.8761906' AS DateTime2), NULL, CAST(N'2026-06-12T14:53:40.8762435' AS DateTime2), 133)
INSERT [dbo].[ApprovalToken] ([Id], [BaId], [Token], [TokenType], [ExpiresAt], [UsedAt], [CreatedAt], [BeritaAcaraId]) VALUES (24, 134, N'c96a8d65e59e4b74bd29f2ecdb311799', N'PJ_SIGNATURE', CAST(N'2026-06-19T14:56:07.2897424' AS DateTime2), NULL, CAST(N'2026-06-12T14:56:07.2897439' AS DateTime2), 134)
INSERT [dbo].[ApprovalToken] ([Id], [BaId], [Token], [TokenType], [ExpiresAt], [UsedAt], [CreatedAt], [BeritaAcaraId]) VALUES (25, 135, N'567f3c04ec1348ebb8cebb9684ea98de', N'PJ_SIGNATURE', CAST(N'2026-06-22T08:36:57.2495983' AS DateTime2), NULL, CAST(N'2026-06-15T08:36:57.2496613' AS DateTime2), 135)
SET IDENTITY_INSERT [dbo].[ApprovalToken] OFF
GO
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 

INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'AdminIT', N'ADMINIT', N'1863bafd-233e-47ac-8e24-121beb30ff27')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'AdminGudangBarang', N'ADMINGUDANGBARANG', N'e9a399d6-3ce1-4ce5-b509-b47bd2fa7886')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (3, N'Approver', N'APPROVER', N'da78dc73-8866-4323-8dcf-05e4b3bceea7')
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[BACounter] ON 

INSERT [dbo].[BACounter] ([Id], [NextValue]) VALUES (1, 7)
SET IDENTITY_INSERT [dbo].[BACounter] OFF
GO
SET IDENTITY_INSERT [dbo].[BarangImportLog] ON 

INSERT [dbo].[BarangImportLog] ([Id], [ImportedAt], [ImportedBy], [FileName], [AddedCount], [UpdatedCount], [DeactivatedCount]) VALUES (1, CAST(N'2026-06-15T08:12:31.9004494' AS DateTime2), 1, N'data barang dummy 2.xlsx', 56, 0, 55)
INSERT [dbo].[BarangImportLog] ([Id], [ImportedAt], [ImportedBy], [FileName], [AddedCount], [UpdatedCount], [DeactivatedCount]) VALUES (2, CAST(N'2026-06-15T08:24:45.3541336' AS DateTime2), 1, N'data barang dummy 2.xlsx', 4, 52, 2)
SET IDENTITY_INSERT [dbo].[BarangImportLog] OFF
GO
SET IDENTITY_INSERT [dbo].[BeritaAcara] ON 

SET IDENTITY_INSERT [dbo].[BeritaAcara] OFF
GO
SET IDENTITY_INSERT [dbo].[BuktiFoto] ON 

INSERT [dbo].[BuktiFoto] ([Id], [BaId], [FilePath], [UploadedAt], [BeritaAcaraId]) VALUES (35, 133, N'files/photos/ba-133-photo-1.jpeg', CAST(N'2026-06-12T14:50:26.4619419' AS DateTime2), 133)
INSERT [dbo].[BuktiFoto] ([Id], [BaId], [FilePath], [UploadedAt], [BeritaAcaraId]) VALUES (36, 134, N'files/photos/ba-134-photo-1.jpeg', CAST(N'2026-06-12T14:55:40.7808972' AS DateTime2), 134)
INSERT [dbo].[BuktiFoto] ([Id], [BaId], [FilePath], [UploadedAt], [BeritaAcaraId]) VALUES (37, 135, N'files/photos/ba-135-photo-1.png', CAST(N'2026-06-15T08:36:16.8153038' AS DateTime2), 135)
SET IDENTITY_INSERT [dbo].[BuktiFoto] OFF
GO
SET IDENTITY_INSERT [dbo].[MasterBarang] ON 

INSERT [dbo].[MasterBarang] ([Id], [KodeBarang], [NamaBarang], [IsAktif]) VALUES (113, N'brg-1', N'Anti Static Wrist Strap', 1)
INSERT [dbo].[MasterBarang] ([Id], [KodeBarang], [NamaBarang], [IsAktif]) VALUES (114, N'brg-2', N'Bridge', 1)
INSERT [dbo].[MasterBarang] ([Id], [KodeBarang], [NamaBarang], [IsAktif]) VALUES (115, N'brg-3', N'Cable Tester', 1)
SET IDENTITY_INSERT [dbo].[MasterBarang] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([Id], [UserId], [BaId], [Tipe], [Message], [IsRead], [CreatedAt]) VALUES (1, 2, 133, N'WAITING_PJ_SIGN', N'BA BA 004/PPNEG1000/VI/2026-S0 telah diajukan. Menunggu tanda tangan PJ (Bruce Wayne).', 1, CAST(N'2026-06-12T14:53:41.2739707' AS DateTime2))
INSERT [dbo].[Notification] ([Id], [UserId], [BaId], [Tipe], [Message], [IsRead], [CreatedAt]) VALUES (2, 2, 134, N'WAITING_PJ_SIGN', N'BA BA 005/PPNEG1000/VI/2026-S0 telah diajukan. Menunggu tanda tangan PJ (Luthfi Alif Pramudya).', 1, CAST(N'2026-06-12T14:56:07.2956305' AS DateTime2))
INSERT [dbo].[Notification] ([Id], [UserId], [BaId], [Tipe], [Message], [IsRead], [CreatedAt]) VALUES (3, 2, 135, N'WAITING_PJ_SIGN', N'BA BA 006/PPNEG1000/VI/2026-S0 telah diajukan. Menunggu tanda tangan PJ (Luthfi AP).', 1, CAST(N'2026-06-15T08:36:57.6331855' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Pegawai] ON 

INSERT [dbo].[Pegawai] ([Id], [Nama], [NoPekerja], [Jabatan], [CostCenter], [FungsiDirektorat], [Alamat], [Email], [NoTelp], [TtdPath], [IsAktif], [LastSync]) VALUES (1, N'Romi Aprilian Mustafa', N'1', N'Jr Officer I Operation Delivery', N'123456', N'IT Sumbagsel', NULL, N'romiaprilian7406@gmail.com', NULL, NULL, 1, CAST(N'2026-06-15T08:27:05.8597655' AS DateTime2))
INSERT [dbo].[Pegawai] ([Id], [Nama], [NoPekerja], [Jabatan], [CostCenter], [FungsiDirektorat], [Alamat], [Email], [NoTelp], [TtdPath], [IsAktif], [LastSync]) VALUES (2, N'Bruce Wayne', N'2', N'SBM Industry I', N'223456', N'Corporate Sales Sumbagsel', NULL, N'ggyur21887@gmail.com', NULL, NULL, 1, CAST(N'2026-06-15T08:27:05.8752534' AS DateTime2))
INSERT [dbo].[Pegawai] ([Id], [Nama], [NoPekerja], [Jabatan], [CostCenter], [FungsiDirektorat], [Alamat], [Email], [NoTelp], [TtdPath], [IsAktif], [LastSync]) VALUES (3, N'Tony Stark', N'3', N'Jr Officer I Fuel Channel Adm', N'323456', N'Retail Sales Sumbagsel', NULL, N'guidotorvalds1985@gmail.com', NULL, NULL, 1, CAST(N'2026-06-15T08:27:05.8770215' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Pegawai] OFF
GO
SET IDENTITY_INSERT [dbo].[PegawaiImportLog] ON 

INSERT [dbo].[PegawaiImportLog] ([Id], [ImportedAt], [ImportedBy], [FileName], [AddedCount], [UpdatedCount], [DeactivatedCount]) VALUES (1, CAST(N'2026-06-15T08:03:41.3466843' AS DateTime2), 1, N'data barang dummy 2.xlsx', 0, 0, 9)
INSERT [dbo].[PegawaiImportLog] ([Id], [ImportedAt], [ImportedBy], [FileName], [AddedCount], [UpdatedCount], [DeactivatedCount]) VALUES (2, CAST(N'2026-06-15T08:05:23.2096067' AS DateTime2), 1, N'data barang dummy 2.xlsx', 0, 0, 0)
INSERT [dbo].[PegawaiImportLog] ([Id], [ImportedAt], [ImportedBy], [FileName], [AddedCount], [UpdatedCount], [DeactivatedCount]) VALUES (3, CAST(N'2026-06-15T08:07:55.3682438' AS DateTime2), 1, N'data pegawai dummy 2.xlsx', 1, 8, 0)
SET IDENTITY_INSERT [dbo].[PegawaiImportLog] OFF
GO
SET IDENTITY_INSERT [dbo].[PerangkatBA] ON 

INSERT [dbo].[PerangkatBA] ([Id], [BaId], [BarangId], [Jumlah], [Satuan], [NoSerial], [Keterangan], [BeritaAcaraId]) VALUES (53, 0, 131, 1, N'Pcs', N'2343', N'dsgs', 135)
INSERT [dbo].[PerangkatBA] ([Id], [BaId], [BarangId], [Jumlah], [Satuan], [NoSerial], [Keterangan], [BeritaAcaraId]) VALUES (54, 0, 115, 1, N'Pcs', N'24332', N'vsd', 135)
SET IDENTITY_INSERT [dbo].[PerangkatBA] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded', 2, NULL)
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded:2026-06-12', 1, CAST(N'2026-07-12T07:00:07.480' AS DateTime))
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:succeeded:2026-06-15', 1, CAST(N'2026-07-15T00:42:16.203' AS DateTime))
GO
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:cek-jatuh-tempo', N'CreatedAt', N'1781175992178', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:cek-jatuh-tempo', N'Cron', N'0 7 * * *', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:cek-jatuh-tempo', N'Job', N'{"t":"SistemBeritaAcara.Infrastructure.Jobs.DueDateCheckerJob, SistemBeritaAcara.Infrastructure","m":"CheckDueDatesAsync"}', NULL)
GO
SET IDENTITY_INSERT [HangFire].[Job] ON 

INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (2, 6, N'Succeeded', N'{"t":"SistemBeritaAcara.Infrastructure.Jobs.DueDateCheckerJob, SistemBeritaAcara.Infrastructure","m":"CheckDueDatesAsync"}', N'[]', CAST(N'2026-06-15T00:42:15.603' AS DateTime), CAST(N'2026-06-16T00:42:16.203' AS DateTime))
SET IDENTITY_INSERT [HangFire].[Job] OFF
GO
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (2, N'CurrentCulture', N'"en-ID"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (2, N'CurrentUICulture', N'"en-US"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (2, N'RecurringJobId', N'"cek-jatuh-tempo"')
GO
INSERT [HangFire].[Schema] ([Version]) VALUES (9)
GO
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'desktop-lo1tk2h:19012:29559035-1d93-4b4a-90a0-b66e6499c31a', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2026-06-15T01:33:31.3208932Z"}', CAST(N'2026-06-15T01:57:14.863' AS DateTime))
GO
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1781506800, N'cek-jatuh-tempo', NULL)
GO
SET IDENTITY_INSERT [HangFire].[State] ON 

INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (4, 2, N'Enqueued', N'Triggered by recurring job scheduler', CAST(N'2026-06-15T00:42:16.007' AS DateTime), N'{"EnqueuedAt":"1781484135620","Queue":"default"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (5, 2, N'Processing', NULL, CAST(N'2026-06-15T00:42:16.100' AS DateTime), N'{"StartedAt":"1781484136034","ServerId":"desktop-lo1tk2h:26344:6d781c4d-10e4-4c72-9593-0f65e95c7509","WorkerId":"a707ece4-a440-4f4f-a3bc-cb2d33a138e4"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (6, 2, N'Succeeded', NULL, CAST(N'2026-06-15T00:42:16.203' AS DateTime), N'{"SucceededAt":"1781484136198","PerformanceDuration":"94","Latency":"500"}')
SET IDENTITY_INSERT [HangFire].[State] OFF
GO
/****** Object:  Index [IX_ApprovalToken_BeritaAcaraId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_ApprovalToken_BeritaAcaraId] ON [dbo].[ApprovalToken]
(
	[BeritaAcaraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApprovalToken_Token]    Script Date: 15/06/2026 08:57:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ApprovalToken_Token] ON [dbo].[ApprovalToken]
(
	[Token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 15/06/2026 08:57:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BarangImportLog_ImportedBy]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_BarangImportLog_ImportedBy] ON [dbo].[BarangImportLog]
(
	[ImportedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BeritaAcara_CreatedBy]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_BeritaAcara_CreatedBy] ON [dbo].[BeritaAcara]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BeritaAcara_MengetahuiId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_BeritaAcara_MengetahuiId] ON [dbo].[BeritaAcara]
(
	[MengetahuiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BeritaAcara_MenyerahkanId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_BeritaAcara_MenyerahkanId] ON [dbo].[BeritaAcara]
(
	[MenyerahkanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BeritaAcara_NomorSurat]    Script Date: 15/06/2026 08:57:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BeritaAcara_NomorSurat] ON [dbo].[BeritaAcara]
(
	[NomorSurat] ASC
)
WHERE ([NomorSurat] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BeritaAcara_PjId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_BeritaAcara_PjId] ON [dbo].[BeritaAcara]
(
	[PjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BuktiFoto_BeritaAcaraId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_BuktiFoto_BeritaAcaraId] ON [dbo].[BuktiFoto]
(
	[BeritaAcaraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MasterBarang_KodeBarang]    Script Date: 15/06/2026 08:57:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MasterBarang_KodeBarang] ON [dbo].[MasterBarang]
(
	[KodeBarang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_BaId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_BaId] ON [dbo].[Notification]
(
	[BaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_UserId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_Notification_UserId] ON [dbo].[Notification]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pegawai_NoPekerja]    Script Date: 15/06/2026 08:57:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Pegawai_NoPekerja] ON [dbo].[Pegawai]
(
	[NoPekerja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PegawaiImportLog_ImportedBy]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_PegawaiImportLog_ImportedBy] ON [dbo].[PegawaiImportLog]
(
	[ImportedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PerangkatBA_BarangId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_PerangkatBA_BarangId] ON [dbo].[PerangkatBA]
(
	[BarangId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PerangkatBA_BeritaAcaraId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_PerangkatBA_BeritaAcaraId] ON [dbo].[PerangkatBA]
(
	[BeritaAcaraId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[Users]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_PegawaiId]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_Users_PegawaiId] ON [dbo].[Users]
(
	[PegawaiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 15/06/2026 08:57:29 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[Users]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_AggregatedCounter_ExpireAt]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_AggregatedCounter_ExpireAt] ON [HangFire].[AggregatedCounter]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Hash_ExpireAt]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Hash_ExpireAt] ON [HangFire].[Hash]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Job_ExpireAt]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_ExpireAt] ON [HangFire].[Job]
(
	[ExpireAt] ASC
)
INCLUDE([StateName]) 
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Job_StateName]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Job_StateName] ON [HangFire].[Job]
(
	[StateName] ASC
)
WHERE ([StateName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_List_ExpireAt]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_List_ExpireAt] ON [HangFire].[List]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Server_LastHeartbeat]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Server_LastHeartbeat] ON [HangFire].[Server]
(
	[LastHeartbeat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_Set_ExpireAt]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_ExpireAt] ON [HangFire].[Set]
(
	[ExpireAt] ASC
)
WHERE ([ExpireAt] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_HangFire_Set_Score]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_Set_Score] ON [HangFire].[Set]
(
	[Key] ASC,
	[Score] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HangFire_State_CreatedAt]    Script Date: 15/06/2026 08:57:29 ******/
CREATE NONCLUSTERED INDEX [IX_HangFire_State_CreatedAt] ON [HangFire].[State]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApprovalToken] ADD  DEFAULT (N'PJ_SIGNATURE') FOR [TokenType]
GO
ALTER TABLE [dbo].[BeritaAcara] ADD  DEFAULT (N'Draft') FOR [Status]
GO
ALTER TABLE [dbo].[BeritaAcara] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PerangkatBA] ADD  DEFAULT (N'Pcs') FOR [Satuan]
GO
ALTER TABLE [dbo].[ApprovalToken]  WITH CHECK ADD  CONSTRAINT [FK_ApprovalToken_BeritaAcara_BeritaAcaraId] FOREIGN KEY([BeritaAcaraId])
REFERENCES [dbo].[BeritaAcara] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApprovalToken] CHECK CONSTRAINT [FK_ApprovalToken_BeritaAcara_BeritaAcaraId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_Users_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_Users_UserId]
GO
ALTER TABLE [dbo].[BarangImportLog]  WITH CHECK ADD  CONSTRAINT [FK_BarangImportLog_Users_ImportedBy] FOREIGN KEY([ImportedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BarangImportLog] CHECK CONSTRAINT [FK_BarangImportLog_Users_ImportedBy]
GO
ALTER TABLE [dbo].[BeritaAcara]  WITH CHECK ADD  CONSTRAINT [FK_BeritaAcara_Pegawai_MenyerahkanId] FOREIGN KEY([MenyerahkanId])
REFERENCES [dbo].[Pegawai] ([Id])
GO
ALTER TABLE [dbo].[BeritaAcara] CHECK CONSTRAINT [FK_BeritaAcara_Pegawai_MenyerahkanId]
GO
ALTER TABLE [dbo].[BeritaAcara]  WITH CHECK ADD  CONSTRAINT [FK_BeritaAcara_Pegawai_PjId] FOREIGN KEY([PjId])
REFERENCES [dbo].[Pegawai] ([Id])
GO
ALTER TABLE [dbo].[BeritaAcara] CHECK CONSTRAINT [FK_BeritaAcara_Pegawai_PjId]
GO
ALTER TABLE [dbo].[BeritaAcara]  WITH CHECK ADD  CONSTRAINT [FK_BeritaAcara_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BeritaAcara] CHECK CONSTRAINT [FK_BeritaAcara_Users_CreatedBy]
GO
ALTER TABLE [dbo].[BeritaAcara]  WITH CHECK ADD  CONSTRAINT [FK_BeritaAcara_Users_MengetahuiId] FOREIGN KEY([MengetahuiId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BeritaAcara] CHECK CONSTRAINT [FK_BeritaAcara_Users_MengetahuiId]
GO
ALTER TABLE [dbo].[BuktiFoto]  WITH CHECK ADD  CONSTRAINT [FK_BuktiFoto_BeritaAcara_BeritaAcaraId] FOREIGN KEY([BeritaAcaraId])
REFERENCES [dbo].[BeritaAcara] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BuktiFoto] CHECK CONSTRAINT [FK_BuktiFoto_BeritaAcara_BeritaAcaraId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_BeritaAcara_BaId] FOREIGN KEY([BaId])
REFERENCES [dbo].[BeritaAcara] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_BeritaAcara_BaId]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Users_UserId]
GO
ALTER TABLE [dbo].[PegawaiImportLog]  WITH CHECK ADD  CONSTRAINT [FK_PegawaiImportLog_Users_ImportedBy] FOREIGN KEY([ImportedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PegawaiImportLog] CHECK CONSTRAINT [FK_PegawaiImportLog_Users_ImportedBy]
GO
ALTER TABLE [dbo].[PerangkatBA]  WITH CHECK ADD  CONSTRAINT [FK_PerangkatBA_BeritaAcara_BeritaAcaraId] FOREIGN KEY([BeritaAcaraId])
REFERENCES [dbo].[BeritaAcara] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerangkatBA] CHECK CONSTRAINT [FK_PerangkatBA_BeritaAcara_BeritaAcaraId]
GO
ALTER TABLE [dbo].[PerangkatBA]  WITH CHECK ADD  CONSTRAINT [FK_PerangkatBA_MasterBarang_BarangId] FOREIGN KEY([BarangId])
REFERENCES [dbo].[MasterBarang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerangkatBA] CHECK CONSTRAINT [FK_PerangkatBA_MasterBarang_BarangId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Pegawai_PegawaiId] FOREIGN KEY([PegawaiId])
REFERENCES [dbo].[Pegawai] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Pegawai_PegawaiId]
GO
ALTER TABLE [HangFire].[JobParameter]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_JobParameter_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[JobParameter] CHECK CONSTRAINT [FK_HangFire_JobParameter_Job]
GO
ALTER TABLE [HangFire].[State]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_State_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[State] CHECK CONSTRAINT [FK_HangFire_State_Job]
GO
USE [master]
GO
